[submodule "themes/hugoplate"]
	path = themes/hugoplate
	url = https://github.com/zeon-studio/hugoplate.git
[submodule "hugoplate"]
	path = hugoplate
	url = https://github.com/zeon-studio/hugoplate.git
